@page "/buyer/stand/{StandIdString}"
@using BlazorApp1.Data
@using BlazorApp1.Data.Interfaces
@using BlazorApp1.Authentication

@inject IStandService StandService
@inject IProductService ProductService
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider

<BackofficeLayout Logo="true" BackArrow="true" PreviousText="" PreviousUrl=@("/buyer/market/"+marketId) AuthorizedRoles="Buyer">
    <Content>
        <h3>@StandName</h3>
        <ComponentList>
            @foreach(var p in Products.Select((value, i) => (value, i)))
            {
                <ComponentListItem>
                   <ProductComponent Stock="@Stocks[p.i]" Name="@p.value.ProductName" Photo="@p.value.ProductPhotos.First().ProductPhotoPath" Url="@(string.Format("/buyer/product/{0}/{1}", StandIdString, p.value.ProductId))" Price="@p.value.ProductBasePrice"></ProductComponent>
                </ComponentListItem>
            }
        </ComponentList>

    </Content>
</BackofficeLayout>

@code  {
    
    public Stand Stand { get; set; }
    public List<Product> Products { get; set; }
    public List<int> Stocks { get; set; }
    public string StandName { get; set; }
    public string StandId { get; set; }
    public string marketId { get; set; } = "";
    [Parameter]
    public string StandIdString {get;set; }

    protected async override void OnInitialized()
    {
        base.OnInitialized();
        if(!int.TryParse(StandIdString, out int n)) {
            NavManager.NavigateTo("/404");
            return;
        }
        int standId = int.Parse(StandIdString);
        Stand s = await StandService.GetStand(standId);
        marketId = s.MarketId.ToString();

        Products = new List<Product>();
        Stocks = new List<int>();
        foreach(var ps in s.ProductInStands) {
            Product p = await ProductService.GetProduct(ps.ProductId);
            Products.Add(p);
            Stocks.Add(ps.Stock);
        }

        StandName = string.Format("{0}: {1}", s.Market.MarketName, s.Seller.CompanyName);
    }
}