@page "/seller/sales"
@using BlazorApp1.Authentication
@using BlazorApp1.Data
@using BlazorApp1.Data.Interfaces

@inject AuthenticationStateProvider AuthStateProvider
@inject ISellerService SellerService

<BackofficeLayout Logo="true" BackArrow="true" PreviousText="" PreviousUrl="/" AuthorizedRoles="Seller">
    <Content>
        <h2>Histórico de Vendas</h2>
        <div class="table-wrapper">
             <Table>
                <TableRow EvenRow="@false">
                    <TableCell>
                        <div class="inline">
                            <div class="flex">
                                <img class="image" src="/img/reference.png" />
                                <h3 class="header">Referência</h3>
                            </div>
                        </div>
                    </TableCell>
                    <TableCell>
                       <div class="inline">
                            <div class="flex">
                                <img class="image" src="/img/market.png" />
                                <h3 class="header">Feira</h3>
                            </div>
                        </div>
                    </TableCell>
                    <TableCell>
                        <div class="inline">
                            <div class="flex">
                                <img class="image" src="/img/date.png" />
                                <h3 class="header">Data</h3>
                            </div>
                        </div>
                    </TableCell>
                    <TableCell>
                        <div class="inline">
                            <div class="flex">
                                <img class="image" src="/img/amount.png" />
                                <h3 class="header">Quantidade</h3>
                            </div>
                        </div>
                    </TableCell>
                    <TableCell>
                        <div class="inline">
                            <div class="flex">
                                <img class="image" src="/img/price.png" />
                                <h3 class="header">Preço</h3>
                            </div>
                        </div>
                    </TableCell>
                </TableRow>
                @foreach(var item in Sales.Select((value, i) => ( value, i )))
                {
                    <TableRow EvenRow="@(item.i % 2 == 0)">
                        <TableCell>
                            @item.value.SaleId
                        </TableCell>
                        <TableCell>
                            @item.value.Bid.BidStandNavigation.Market.MarketName
                        </TableCell>
                        <TableCell>
                            @item.value.SaleTimestamp
                        </TableCell>
                        <TableCell>
                            @item.value.Bid.BidAmount
                        </TableCell>
                        <TableCell>
                            @item.value.Bid.Price
                        </TableCell>
                    </TableRow>
                }
            </Table>
        </div>
    </Content>
</BackofficeLayout>
   

@code {
    public List<Sale> Sales { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        var authState = await authenticationState;
        string email = authState.User.Identity.Name;
        Sales = await SellerService.GetSellerSales(email);

    }
}
