<div class="wrapper" style="@( Happening() ? "background-color: #cbffca!important" : "")">
    <a class="link" href="@Url">
        <img src="@Photo" class="image"/>
        <div class="text-wrapper">
            <p class="text"><i class="fas fa-bars"></i> @Name</p>
            <p class="text"><i class="fas fa-clock"></i> @StartTime.ToString() - @EndTime.ToString()</p>
            @if(Online)
            {
                <p class="text"><i class="fas fa-smile"></i> Online</p>
            }
            else
            {
                 <p class="text"><i class="fas fa-frown"></i> Offline</p>
            }
            
        </div>
    </a>
</div>

@code {
    [Parameter]
    public string Photo { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public DateTime StartTime { get; set; }
    [Parameter]
    public DateTime EndTime { get; set; }
    [Parameter]
    public string Url { get; set; }
    [Parameter]
    public bool Online { get; set; }

    private bool Happening()
    {
        DateTime now = DateTime.Now;
        return now.Ticks >= StartTime.Ticks && now.Ticks <= EndTime.Ticks; 
    }
}
